@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 5fr 5fr;
    height: 100vh;
    width: 100vw;
}

.header {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

.sidebar {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background-color: #D48166;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 75px repeat(10, 50px);
}

#logo > h1 {
    margin: 0;
}

.nav {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
}

.projects {
    grid-column: 2 / 3;
    grid-row: 3 / -1;
}

.announcements {
    grid-column: 3 / -1;
    grid-row: 3 / 4;
}

.trending {
    grid-column: 3 / -1;
    grid-row: 4 / -1;
}

.projects,
.announcements,
.trending {
    background-color: #E6E2DD;
}