@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) minmax(660px, 3fr) minmax(300px, 1fr);
    grid-template-rows: 100px 100px min-content min-content;
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
}

.header {
    display: grid;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    grid-auto-flow: column;
    padding: 20px 40px;
    grid-template-columns: 24px 3fr 1fr 24px auto auto;
    align-items: center;
    gap: 20px;
}

.header input {
    height: 32px;
    background-color: #E6E2DD;
    border: none;
    border-radius: 10px;
    text-indent: 7px;
    font-size: 16px;
}

.header input:focus {
    outline: none;
}

.header .material-symbols-outlined:last-child {
    align-self: end;
}

#profile-picture {
    width: 55px;
    height: auto;
    border: #000000 solid 1px;
    border-radius: 50%;
}

.sidebar {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background-color: #D48166;
    padding: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 75px repeat(10, 50px);
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}

.sidebar div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo {
    gap: 10px;
}

#logo > span {
    font-size: 40px;
}

#logo > h1 {
    margin: 0;
    font-weight: 600;
}

.nav {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: auto minmax(min-content, 1fr) repeat(3, min-content);
    grid-template-rows: 1fr;
    gap: 20px;
    grid-auto-flow: column;
    padding: 0px 40px 20px 40px;
    align-items: center;
}

#profile-picture-large {
    height: auto;
    width: 70px;
    border: #000000 solid 1px;
    border-radius: 50%;
}

.nav > div p:first-child {
    margin: 0;
    font-size: 15px;
}

.nav > div p:last-child {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.nav button {
    width:  125px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: #D48166;
    border: none;
    border-radius: 20px;
    color: #ffffff;
}

.projects {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 3 / -1;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: 30px repeat(auto-fit, 250px);
    gap: 20px;
}

.projects > h3,
.announcements > h3,
.trending > h3 {
    grid-column: 1 / -1;
    margin: 0;
}

.projects .card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 30px;
    width: 300px;
    height: 250px;
    font-size: 14px;
    color: #7f7f7f;
    box-sizing: border-box;
}

.projects .card h4 {
    margin: 0;
    font-size: 15px;
    color: #000000;
}

.projects .card p {
    margin: 0;
}

.announcements {
    display: grid;
    grid-column: 3 / -1;
    grid-row: 3 / 4;
    padding: 20px;
    padding-left: 0;
    grid-template-rows: 30px auto;
    gap: 20px;
}

.announcements .card {
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 8px;
    height: min-content;
}

.announcements .card h5 {
    margin: 0;
    padding: 0 5px;
}

.announcements .card p {
    font-size: 12px;
    margin: 0;
    color: #7f7f7f;
    padding: 0 5px;
}

.announcements .card hr {
    height: 1px;
    background-color: #7f7f7f;
    border: none;
    margin: 15px 0;
}

.trending {
    grid-column: 3 / -1;
    grid-row: 4 / -1;
    display: grid;
    padding: 20px;
    padding-left: 0;
    gap: 20px;
    padding-top: 0;
}

.trending .card {
    display: grid;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    height: min-content;
    grid-template-columns: min-content auto;
    align-items: center;
    column-gap: 20px;
    row-gap: 30px;
}

.trending .card img {
    height: auto;
    width: 40px;
    grid-column: 1;
    border: #000000 1px solid;
    border-radius: 50%;
}

.trending .card div {
    grid-column: 2;
}

.trending .card div h6 {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
}

.trending .card div p {
    margin: 0;
    font-size: 12px;
    color: #7f7f7f;
}

.projects,
.announcements,
.trending {
    background-color: #E6E2DD;
}